{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

<link href="{% static "css/rounded_corner.css" %}" rel="stylesheet" />

</head>
<body>

<h1>Enroll Page</h1>
{% if form.errors %}
         <p style="color: red;">
             Please correct the error{{ form.errors|pluralize }} below.
         </p>
     {% endif %}


<form action="/enroll/" method="post">

  {%  csrf_token %}
  <table>
      {{ form.as_table }}
  </table>

  <input type="submit" value="enroll">

</form>

</body>
</html>
